/* "Media Object" layout from MDN */
@media (min-width: 500px) {
    .comment {
        display: grid;
        grid-template-columns: fit-content(200px) 1fr;
        grid-template-rows: auto;
        grid-template-areas:  "image content"
                                ". buttons";
        grid-gap: 5px;
        margin-bottom: 5px;
    }

    .user-img {
        grid-area: image;
        max-height: 35px;
        height: 100%;
        max-width: 35px;
        width: 100%;
        margin: 8px;
        /* border: 1px solid white; */
    }

    .content {
        grid-area: content;
        /* border: 1px solid white; */
    }



}
