#album-page {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "title title"
                        "left right";
    justify-items: center;

}

#album-page-title {
    grid-area: title;
}

#album-page-text {
    grid-area: left;
    padding: 5px;
}

#album-page-right {
    grid-area: right;
}

#music-player {
    border: 2px solid black;
}

#album-lg {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}
