#album-page {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "title title"
                        "left right";
    justify-items: center;

}

#album-page-title {
    grid-area: title;
}

#album-page-text {
    grid-area: left;
    padding: 5px;
    margin-left: 20px;
}

#album-page-right {
    grid-area: right;
    display: flex;
    flex-direction: column;
}

#music-player {
    margin: 5px;
    /* border: 1px solid black; */
}

.song-with-player {
    display: grid;
    grid-template-areas: "play song"
                            ". song";
}

.song-play-button {
    grid-area: play;
    margin: 4px;
}

.song-title {
    grid-area: song;
    display: flex;
    flex-wrap: wrap;
}

#album-lg {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

#album-page-comment-form {
    margin: 10px;
}

#collection-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
