/* TODO Add site wide styles */
#root {
    position: absolute;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #1b1717;
    background-color: #f0f0f0;
}

p {
    color: #b8b5a8;
    /* font-size: .75em; */
}

li {
    padding: 4px;
}

button {
    background-color: #3cacd8;
    color: #eeebdd;
    box-shadow: 0px 0px 5px rgb(58, 58, 58);
    border: none;
    border-radius: 5px;
}

a {
    color: #3cacd8;
    font-weight: bold;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 800; */
}

.login-button {
    width: 250px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.divider {
    height: 2px;
    width: auto;
    background-color: rgb(58, 58, 58);
    margin-top: 10px;
    margin-bottom: 30px;
}
