/* TODO Add site wide styles */
body {
    font-family: 'Noto Serif', serif;
    background-color: #1b1717;
    color: #eeebdd;
}

nav {
    background-color: #810000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #eeebdd;
    text-decoration: underline;
}

p {
    color: #b8b5a8;
    font-size: .75em;
}

button {
    background-color: #ce1212;
    color: #eeebdd;
}

.login-button {
    width: 250px;
    border-radius: 5px;
}

.album-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-album-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.list-album-text {
    margin: 10px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
}

.list-img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}
/* "Media Object" layout from MDN
@media (min-width: 500px) {
    .media {
        display: grid;
        grid-template-columns: fit-content(200px) 1fr;
        grid-template-rows:1fr auto;
        grid-template-areas:
            "image content"
            "image footer";
        grid-gap: 20px;
        margin-bottom: 4em;
    }

    .media-flip {
        grid-template-columns: 1fr fit-content(250px);
        grid-template-areas:
            "content image"
            "footer image";
    }

    .img {
        grid-area: image;
    }

    .content {
        grid-area: content;
    }

    .footer {
        grid-area: footer;
    }

} */
