/* TODO Add site wide styles */
#root {
    position: absolute;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1b1717;
    color: #eeebdd;
}

nav {
    /* position: fixed; */
    z-index: 1;
    /* background-color: #353030; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #eeebdd;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

p {
    color: #b8b5a8;
    /* font-size: .75em; */
}

li {
    padding: 4px;
}

button {
    background-color: #cc2020;
    color: #eeebdd;
    box-shadow: 0px 0px 10px rgb(255, 158, 93);
    border: none;
    border-radius: 5px;
}

h1, h2, h3 {
    font-weight: 800;
}

.login-button {
    width: 250px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.album-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-album-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.list-album-text {
    margin: 10px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
}

.list-img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.divider {
    height: 2px;
    width: auto;
    background-color: rgb(58, 58, 58);
    margin-top: 10px;
    margin-bottom: 30px;
}
