#login-page {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    background-image: linear-gradient(rgba(56, 64, 102, 0.5), rgba(0, 0, 0, 0.5)),
                    url("../../images/music.jpeg");
    height: 100vh;
    width: 100vw;
    background-clip: border-box;
    background-size: cover;
}

.login-form {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px darkgrey;
    border-radius: 10px;
}

.form-field {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
