#login-page {
    display: flex;
}

.login-form {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px darkgrey;
    border-radius: 10px;
    /* background-image: url("../../images/bar-ext.jpeg");
    background-clip: border-box;
    background-size: cover; */
}

.form-field {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
