
#signup-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url("../../images/bar-ext.jpeg");
    height: 100vh;
    width: 100vw;
    background-clip: border-box;
    background-size: cover;
}
#signup-title {
    margin: auto;
    /* align-self: flex-end; */
}
.signup-form {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px darkgrey;
    border-radius: 10px;
}

.form-field {
    padding: 5px;
    margin: 5px;
}
