nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: #ffffff;
    z-index: 5;
}

.nav-links {
    display: inline-block;
    padding: 5px 5px;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#search-bar input,
#search-bar select {
    background-color: rgb(235, 235, 235);
    padding: 5px;
    margin: 3px;
    border: none;
}

#search-bar button {
    margin: 3px;
}

#session-links {
    display: inline-block;
    padding: 0px 5px;
}

.profile-dropdown {
    border: 1px solid rgb(211, 211, 211);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    z-index: 2;
}

.profile-dropdown-buttons {
    font-size: .75em;
    padding: 3px;
    text-align: center;
}

.profile-dropdown a {
    color: #408EA3;
}

nav a {
    color: #eeebdd;
}
