nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 1; */
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.nav-links {
    display: inline-block;
    padding: 5px 5px;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#session-links {
    display: inline-block;
    padding: 0px 5px;
}

.profile-dropdown {
    border: 1px solid rgb(211, 211, 211);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.profile-dropdown-buttons {
    font-size: .75em;
    padding: 3px;
    text-align: center;
}

.profile-dropdown a {
    color: #3cacd8;
}

nav a {
    color: #eeebdd;
}
