#collection {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; */
}

.collection-album-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
}

#user-profile {
    display: flex;
    flex-direction: row;
}

#profile-image {
    width: 100px;
    height: 100px;
    margin: 10px;
}
